/.github/CODEOWNERS @fastner
/.github/workflows/** @fastner
/scripts/publishWorkspacePackages.mjs @fastner
/scripts/publishWorkspacePackages.test.mjs @fastner
/package.json @fastner
/**/package.json @fastner
/pnpm-lock.yaml @fastner
/release-please-config.json @fastner
/.release-please-manifest.json @fastner
