/.github/CODEOWNERS @swernerx @fastner
/.github/workflows/** @swernerx @fastner
/scripts/publishWorkspacePackages.mjs @swernerx @fastner
/scripts/publishWorkspacePackages.test.mjs @swernerx @fastner
/package.json @swernerx @fastner
/**/package.json @swernerx @fastner
/pnpm-lock.yaml @swernerx @fastner
/release-please-config.json @swernerx @fastner
/.release-please-manifest.json @swernerx @fastner
